footer {
    width: 80%;
    margin-left: 10%;
}
body {
  font: 300 14px 'Helvetica Neue', Helvetica;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #cccccc;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}