<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>


    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">


    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
    <style>
body {
  font: 300 14px 'Helvetica Neue', Helvetica;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #333;
  fill: #cccccc;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
</style>

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h2>Graph Visualization</h2>

    <svg width=1400 height=600>
            <g></g>
    </svg>

    <p>Getting started with Firebase</p>
    <h1 id="bigOne"> Test </h1>

    <script type="text/javascript">

// Create a new directed graph
var g = new dagreD3.graphlib.Graph().setGraph({});

// function to shuffle the list...
function shuffle(a) {
    var j, x, i;
    for (i = a.length; i; i -= 1) {
        j = Math.floor(Math.random() * i);
        x = a[i - 1];
        a[i - 1] = a[j];
        a[j] = x;
    }
    return a;
}

var nodes = [ "10007154_1100", "148570017_1100", "148570018_1100", "148570019_1100",
               "148570025_1100", "148570010_1100", "148570021_1100", "148570020_1100",
               "148570026_1100", "148570011_1100", "148570022_1100", "148570010_1200",
               "148570020_1200", "148570026_1200", "148570023_1100", "148570011_1200",
               "148570023_1200"
            ];

var edgeList = [["10007154_1100","148570017_1100",{"label":""}],
["148570017_1100","148570018_1100",{"label":"148570018"}],
["148570018_1100","148570019_1100",{"label":"148570019"}],
["148570018_1100","148570025_1100",{"label":"148570025"}],
["148570019_1100","148570020_1100",{"label":"148570020"}],
["148570019_1100","148570021_1100",{"label":""}],
["148570019_1100","148570010_1100",{"label":""}],
["148570025_1100","148570010_1100",{"label":""}],
["148570025_1100","148570026_1100",{"label":""}],
["148570021_1100","148570022_1100",{"label":""}],
["148570010_1100","148570011_1100",{"label":""}],
["148570010_1100","148570010_1200",{"label":""}],
["148570020_1100","148570020_1200",{"label":""}],
["148570026_1100","148570026_1200",{"label":""}],
["148570026_1200","148570011_1200",{"label":""}],
["148570010_1200","148570011_1200",{"label":""}],
["148570011_1200","10007154_1100",{"label":""}],
["148570022_1100","148570023_1100",{"label":""}],
["148570023_1100","148570023_1200",{"label":""}] ];

var svg = d3.select("svg"),
    inner = svg.select("g");

function render_graph(render) {

  var max_cnt = 100;
  var iter_cnt = 0;
  var optimalArray, best_result;
  while(max_cnt--) {
      var g = new dagreD3.graphlib.Graph().setGraph({});
      nodes.forEach(function(node) {
          g.setNode(node, { label: node , shape: "circle" });
      });

      // set edges... randomize the list
      var list = shuffle(edgeList);
      if(!optimalArray) optimalArray = list;
      edgeList.forEach((edge)=>{
         g.setEdge.apply(g, edge);
      })

      // Set the rankdir
      g.graph().rankdir = "LR";
      g.graph().nodesep = 60;

      render(inner, g);

      var nn = svg.select(".edgePaths");
      var paths = nn[0][0];
      var fc = paths.firstChild;
      var boxes = [];
      while(fc) {
         var path = fc.firstChild.getAttribute("d");
         var coords = path.split(/,|L/).map(function(c) {
             var n = c;
             if((c[0]=="M" || c[0]=="L")) n = c.substring(1);
             return parseFloat(n);
         })
         boxes.push({ left : coords[0], top : coords[1], right : coords[coords.length-2], bottom : coords[coords.length-1]});
         fc = fc.nextSibling;
      }
      var collisionCnt = 0;
      boxes.forEach( function(a) {
         // --> test for collisions against other nodes...
         boxes.forEach(function(b) {
             if(a==b) return;
             // test if outside
             if ( (a.right  < b.left) ||
                  (a.left   > b.right) ||
                  (a.top    > b.bottom) ||
                  (a.bottom < b.top) ) {

                  // test if inside
                  if(a.left >= b.left  && a.left <=b.right || a.right >= b.left  && a.right <=b.right) {
                     if(a.top <= b.top && a.top >= b.bottom) {
                        collisionCnt++;
                     }
                     if(a.bottom <= b.top && a.bottom >= b.bottom) {
                        collisionCnt++;
                     }
                  }
             } else {
                collisionCnt++;
             }
         })
      })
     if(collisionCnt==0) {
         optimalArray = list.slice();
         break;
     }
     if(typeof(best_result) == "undefined") {
        best_result = collisionCnt;
     } else {
        if(collisionCnt < best_result) {
            optimalArray = list.slice();
            best_result = collisionCnt;
        }
     }
     iter_cnt++;
  }

  // if no optimal was found just render what was found...
  if(best_result >= 0 ) {
      var g = new dagreD3.graphlib.Graph().setGraph({});
      nodes.forEach(function(node) {
          g.setNode(node, {label: node , shape: "circle" });

      });
      optimalArray.forEach((edge)=>{
         g.setEdge.apply(g, edge);
      })
      g.graph().rankdir = "LR";
      g.graph().nodesep = 60;
      render(inner, g);
  }

  // Center the graph
  var initialScale = 0.75;
  zoom
    .translate([(svg.attr("width") - g.graph().width * initialScale) / 2, 20])
    .scale(initialScale)
    .event(svg);
  svg.attr('height', g.graph().height * initialScale + 40);

}

// Set up zoom support
var zoom = d3.behavior.zoom().on("zoom", function() {
      inner.attr("transform", "translate(" + d3.event.translate + ")" +
                                  "scale(" + d3.event.scale + ")");
    });
svg.call(zoom);

// Create the renderer
var render = new dagreD3.render();

render_graph(render);
</script>
</div>

<div th:insert="blocks/footer :: footer"></div>

<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCRj_gO-g-j-&#45;&#45;zMNsSWELUcMnh25n4dmI",
    authDomain: "springboot-dagrejs.firebaseapp.com",
    projectId: "springboot-dagrejs",
    storageBucket: "springboot-dagrejs.appspot.com",
    messagingSenderId: "57287386545",
    appId: "1:57287386545:web:0f7e33ea18029e7161c990"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  var ref = firebase.database().ref();

ref.on("value", function(snapshot) {
   console.log(snapshot.val());
}, function (error) {
   console.log("Error321: " + error.code);
});

</script>
</body>
</html>