<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>

    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>


</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h2>Graph Visualization</h2>
    <svg width=1400 height=600>
            <g></g>
    </svg>

    <script th:inline="javascript">
/*<![CDATA[*/
    var nodes = /*[[${nodes}]]*/;
    var shapes = /*[[${shapes}]]*/;
    var edgeList2 = /*[[${edges}]]*/;
/*]]>*/
    </script>
    <script type="text/javascript" src="script.js">
    </script>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>